@import "tailwindcss";

:root {
  --background: #091c23;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #091c23;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  background: var(--background);
  color: var(--foreground);
}

/* Font utilities */
.font-1 {
  font-family: var(--font-monomaniac), sans-serif;
}
.font-2 {
  font-family: var(--font-poppins), sans-serif;
}
.font-3 {
  font-family: var(--font-montserrat), sans-serif;
}
.font-4 {
  font-family: var(--font-opensans), sans-serif;
}
